# ---------------------------------------------------------------------------
# CIFRA — Workspace Root Environment Variables Template
# ---------------------------------------------------------------------------

HEZTNER_IP=178.105.82.48
URL_SSH=C:\Users\nicol\.ssh
